* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-heading {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  text-transform: uppercase;
  color: rgb(89, 85, 85);
  margin-top: 100px;
}

.ourmenu {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.menutype ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}
.menutype ul li {
  color: rgb(73, 71, 71);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.menutype ul li:hover {
  color: #000;
}

.starter {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 250px 250px 250px;
  text-align: center;
  justify-content: center;
  gap: 5rem;
}

.menu-name {
  font-family: cursive;
}

.menu-price {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  color: green;
}

/* css for small tabs like ipad ,imini etc */
@media screen and (max-width: 920px) {
  .starter {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    text-align: center;
    justify-content: center;
    gap: 5rem;
  }

  .menu-img img {
    height: 200px;
  }
}

/* css for smart phones */

@media screen and (max-width: 450px) {
  .menutype ul li {
    font-size: 15px;
  }

  .starter {
    grid-template-columns: 1fr;
  }

  .menu-img img {
    height: 200px;
    width: 200px;
  }
}

@media screen and (max-width: 550px) {
  .starter {
    grid-template-columns: 1fr;
  }
}
